<div class="row">
    <div class="col-md-12">
      <h1>Currency Type
        <div class="filter-heading">
          <form [formGroup]="filter_form">
            <input type="text" (keyup)="onSearch($event)" class="form-control" placeholder="search..."
              formControlName="q">
          </form>
        </div>
      </h1>
      <hr />
    </div>
  </div>
  <!--end-->
  <div class="row">
    <div class="col-md-12">
      <div class="top-buttons">
        <a (click)="onAdd(data_popup)" class="btn btn-primary"><i class="fas fa-plus"></i> Add</a>
      </div>
    </div>
  </div>
  <!--end-->
  <div class="row">
    <div class="col-md-12">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col" width="1%">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of data">
            <td>{{item.name}}</td>
            <td><a placement="top" ngbTooltip="Edit" class="edit-link text-primary" (click)="onSelect(item,data_popup)"><i
                  class="fas fa-pencil-alt"></i></a>
                  <a placement="top" ngbTooltip="Delete" class="text-danger btn_delete"
                  (click)="deleteItem(item,delete_popup)"><i class="fas fa-trash-alt"></i> </a>
                </td>
          </tr>
        </tbody>
      </table>
      <div class="pager" *ngIf="data">
          <div *ngIf="onProgress" class="data-loader">
            <div class="spinner-grow text-primary" role="status">
              <span class="sr-only">Loading...</span>
            </div>
            <span class="lbl">Loading...</span>
          </div>
          <a class="btn btn-light more" *ngIf="!onProgress && !isMaxLoad" (click)="onLoadMore()">Load More</a>
      </div><!--end of pager-->
    </div><!--end-->
  </div><!--end-->


  <ng-template #data_popup let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{method=="add"?"Add":"Edit"}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="data_form" class="form_data">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="name">Name <span class="req">*</span>
              </label>
              <input type="text" formControlName="name" class="form-control" />
              <p *ngIf="!data_form.get('name').valid && data_form.get('name').touched"
                class="help-block error">Name
                is required</p>
            </div>
            <!--end-->
          </div>
          <!---end-->
        </div>
        <!--end-->
      </form>
    </div>
    <div class="modal-footer">
      <button [disabled]="onProgress || !data_form.valid" type="button" class="btn btn-primary" (click)="onSave()">
        <span *ngIf="onProgress" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
        {{onProgress?"Saving...":"Save"}}
      </button>
    </div>
  </ng-template>
  
  
  
  <ng-template #delete_popup let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Delete Confirmation</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      Do you really want to remove?
    </div>
    <div class="modal-footer">
      <button [disabled]="onProgress" type="button" class="btn btn-secondary" (click)="onCancel()">
        No
      </button>
      <button [disabled]="onProgress" type="button" class="btn btn-primary" (click)="onDelete()">
        <span *ngIf="onProgress" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
        {{onProgress?"Removing...":"Yes"}}
      </button>
    </div>
  </ng-template>