<div class="row">
    <div class="col-md-12">
        <h1>Settings</h1>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <a class="box" routerLink="/admin/settings/admins">
            <i class="fas fa-users-cog icon"></i><br>
            <span>Admins</span>
        </a>
    </div>
    <div class="col-md-4">
            <a class="box" routerLink="/admin/settings/api-conversions">
                <i class="fas fa-sync icon"></i><br>
                <span>API Conversion Table</span>
            </a>
        </div>
        <div class="col-md-4">
            <a class="box" routerLink="/admin/settings/currency-type">
                <i class="fas fa-dollar-sign icon"></i><br>
                <span>Currency Type</span>
            </a>
        </div>
</div>